# Documentation build artifacts
/site/
/docs/docs_cpp/
/.cache/

# colcon / ROS build artifacts
/build/
/install/
/log/

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# General
*.zip
test-data-kitti-seq04/
